<launch>
 	<arg default="/dev/ttyUSB0" name="usbPort"></arg>
    <arg default="0xABCD" name="targetDeviceId"></arg>
    <node name="pozyxposition" output="screen" pkg="gtec_uwb_ranging" type="pozyxposition">
        <param name="usbPort" value="$(arg usbPort)" type="str"></param>
        <param name="targetDeviceId" value="$(arg targetDeviceId)" type="str"></param>
    </node>
</launch>